body{
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

div{
  display: block;
}

.banner{
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.container{
  width: 700px;
  margin: 50px auto;
}

.link-median{
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media (max-width: 1200px) {
  /* Pour un écran < 1200px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 992px) {
  /* Pour un écran < 992px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* Pour un écran < 768px, cette classe CSS s'applique */
  .container {
    width: 600px;
  }
}

@media (max-width: 576px) {
  /* Pour un écran < 576px, cette classe CSS s'applique */
  .container {
    width: 400px;
  }
}
